/* App.css */
.fade-enter {
  opacity: 0;
  height: 0;
  visibility: hidden;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
  visibility: visible;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
  height: 0;
  visibility: visible;
}

.form-container {
  transition: height 500ms ease-in-out;
}

.dashboard input, .dashboard select {
  padding: 0.5rem;
  border: 0px;
}

/* form > * {
  flex: 1;
  margin-bottom: 8px;
} */