@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-display: swap;
    src: url(./assets//fonts/Assistant.ttf) format('ttf');
  }
}

:root {
  font-family: 'Assistant', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

#auth_signin, #auth_signup, #auth_reset, #auth_reset_confirm, form {
gap: 1rem;
padding: 1rem;
}

#auth_signin input, #auth_signup input, #auth_reset input, #auth_reset_confirm input {
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  max-width: 20rem;
  min-width: 17rem;
  /* border-radius: 1.7rem; */
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

/* Custom styles for headings */
h1 {
  @apply text-4xl font-bold text-primary;
}

h2 {
  @apply text-3xl font-semibold text-primary;
}

h3 {
  @apply text-2xl font-medium text-accent;
}

h4 {
  @apply text-xl font-medium text-accent;
}